{% extends '@App/base.html.twig' %}

{% block body %}

  <div class="container-fluid p-3">
    {{ form_start(searchForm) }}
    <div class="row">
      <div class="col-sm p-3">
        {{ form_row(searchForm.name) }}
      </div>
      <div class="col-sm p-3">
        {{ form_row(searchForm.client) }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm p-3">
        {{ form_row(searchForm.ownedBy) }}
      </div>
      <div class="col-sm p-3">
        {{ form_row(searchForm.type) }}
      </div>
      <div class="col-sm p-3">
        {{ form_row(searchForm.isActive) }}
      </div>
    </div>
    {{ form_end(searchForm) }}

    <div class="row">
      <div class="col-sm p-3">
        <h2>{{ projects | length }} Projekter</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <table class="table table-sm">
          <tr>
            <th>Aktivt</th>
            <th>Projekt Navn</th>
            <th>Finansiering</th>
            <th>Type</th>
            <th>Kilde</th>
          </tr>
          {% for project in projects %}
            <tr>
              <td>{{ project.isActive ? '<i class="fas fa-check"></i>' }}</td>
              <td>{{ project.name }}</td>
              <td>{{ project.client }}</td>
              <td>{{ project.type }}</td>
              <td>{{ project.ownedBy }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-sm p-3">
        {% if lastsync is not empty %}
          <p>Sidst synk: {{ lastsync | date }}</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

